# The range() function

In [1]:
#The range() function allows you to generate a sequence of numbers in the shape of a 'range'. 
#Meaning, we'll have a start value, an end value and a step value (incremental step).

In [9]:
range(5)
range(0,5) #Ranges, by default do not need a step, by default it is assumed '1'
#range(0,5,1) Equivalent expression!

range(0, 5)

In [41]:
print(list(range(5)))
print(list(range(0,5)))
#print(list(range(0,5,1))) This is an equivalent expression btw.

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [12]:
# Empty range. The output is EMPTY. Not 0! **Watch out with this!
range(0)

In [13]:
print(list(range(0)))

[]

In [42]:
#Ascending range (By default the step is 1. range(start,stop,step))
range(5,10)
print(list(range(5,10)))
print(list(range(5,11)))
print(list(range(0,11)))
print(list(range(-5,11)))

[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
#Descending range ()
range(0,-11)
print(list(range(0,-11))) # We need to specify a step for this descending range!

[]

In [33]:
print(list(range(0,-11,1))) #No! The step needs to be negative, as we want to start at 0 and stop at -10!
#Thus, the step needs to be -1

[]

In [1]:
print(list(range(0,-11,-1)))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

# Printing patterns with the range() function

In [ ]:
#By default Python print() function ends with a new line. Meaning, everytime we print() it will go to the next line
# defined by the iterator.

In [ ]:
#Example of printing asterisks in a new line.

In [9]:
n = 5
for j in range(n):
    print("*")

*
*
*
*
*

In [4]:
#If we want to print asteriks one next to the other, we need to tell the print() function to add a space at the end.

In [12]:
n = 5
for j in range(n):
    print("*", end=" ")

* * * * *

In [28]:
n = 5
for i in range (n): # we set the rows number in here. i0,i1,i2,i3,i4 (5 rows)
    for j in range(n): #We enter the inner loop that controls the columns inside each row. i0 has j0,j1,j2,j3,j4 and so on!
        print("*", end=" ")
    print()
    
    #for i in range: Takes care of the number of rows.
    #1st row: i0 ; 2nd row: i1; 3rd row: i2; 4th row: i3, 5th row: i4
    #for j in range: Takes care of the number of colums inside each row. Thus, each row (i0-i4) will have j0,j1,j2,j3,j4.
    # https://www.youtube.com/watch?v=fX64q6sYom0

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

## 1. Increasing Triangle Pattern (External loop range = n, inner loop = i+1

In [119]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

## 2. Decreasing Triangle Pattern (External loop range = n, inner loop = i,n or n-i

In [121]:
#External loop = range(n)
#Inner loop = range(n-1)

n = 5

for i in range(n):
    for j in range(i,n): # n-i ??
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

## Right sided triangle

In [129]:
n = 5

for i in range(n):
    for j in range(i,n): #This 2 nested loops work one after the other!!!
        print(" ", end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [126]:
n = 5

for i in range (n):
    for j in range (i+1):
        print(" ", end=" ")
    for j in range (i,n): # n-i ???
        print("*", end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

# Left sided triangle

In [122]:
n = 5

for i in range(n):
    for j in range(n,i):
        print(" ", end=" ")
    for j in range (i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [131]:
n = 5

for i in range (n):
    for j in range (i+1):
        print(" ", end=" ")
    for j in range (i,n):
        print("*", end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [177]:
#External loop = range(n)
#Inner loop = range(i,n) i.e: 0-5, 1-5, 2-5, 3-5 = 2 stars are printed , 4-5 = 1 star is printed.
n = 5

for i in range(n):
    for j in range(i,n):
        print("*", end =" ")
    for j in range(i+1):
        print(" ", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

## Hill pattern

In [141]:
n = 5

for i in range(n):
    for j in range (i,n):
        print(" ", end=" ")
    for j in range (i):
            print("*", end=" ")
    for j in range (i+1):
                print("*", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

## Decreasing Hill Pattern

In [175]:
n = 5

for i in range(n):
    for j in range (i+1):
        print(" ", end=" ")
    for j in range (i,n-1):
            print("*", end=" ")
    for j in range (i,n):
                print("*", end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

# Diamond Pattern (Double inverted hill pattern)

In [205]:
n = 5

for i in range (n-1):
        for j in range (i,n) :
            print(" ", end=" ")
        for j in range (i):
            print("*", end=" ")
        for j in range (i+1):
            print("*", end=" ")
        print()
for i in range (n):
        for j in range (i+1):
            print(" ", end=" ")
        for j in range (i,n-1):
            print("*", end=" ")
        for j in range (i,n):
            print("*", end=" ") 
        print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [185]:
#Equivalences: The following expressions all have the same output:
range(5)
range(0,5)
range(0,5,1)
print(list(range(5)))
print(list(range(0,5)))
print(list(range(0,5,1)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [37]:
#Empty sequence
range(2) #This expressions basically means, start at 0 and get me to (2-1)= 1, in 1 unit increments. Thus:
print(list(range(2)))

[0, 1]

In [40]:
#So, if we want to output range(1) and range(0), it is quite clear that range(0) will output a void sequence.
# range(0) has a VOID SEQUENCE output, not ZERO!
range(1)
range(0)
print(list(range(1)))
print(list(range(0)))

[0]
[]